{% extends "base.html" %}
{% load static %}

{% block head_content %}
<title>@{{ request.user.username }} | Update profiles</title>
{% endblock %}

{% block container %}

<div class="container">

    <div class="row justify-content-md-center">
        <div class="col-6 p-4" id="profile-box">

            <form action="{% url 'users:update_profile' %}" method="POST" enctype="multipart/form-data">
                
                {% csrf_token %}
                
                {% if form.errors %}
                    <p class="alert alert-danger">{{ form.errors }}</p>
                {% endif %}

                <div class='media'>
                    {% if profile.profile_picture %}
                        <img src="{{ profile.profile_picture.url }}" class="rounded-circle" height="50">
                    {% else %}
                        <img src="{% static 'img/default-profile.png' %}" class="rounded-circle" height="50"/>
                    {% endif  %} 

                    {# Picture Field #}
                    <div class="media-body">
                        <h5 class="ml-4">@{{ user.username }} | {{user.get_full_name}}</h5>
                        <p class="ml-4"><input type="file" name="profile_picture"></p>
                    </div>
                </div>

                {% for error in form.picture.errors %}
                    <div class="alert alert-danger">
                        <b>Picture: </b>{{error}}
                    </div> 
                {% endfor %}

                <hr><br>
                
                {# Website Field#}
                <div class="form-group">
                    <label>Website</label>
                    <input
                        class="form-control {% if form.website.errors %}is-invalid{% endif %}"
                        type="url"
                        name="website" placeholder="Website"
                        value="{% if form.errors%}{{ form.website.value }}{% else %}{{profile.website}}{% endif %}"
                    />
                </div>
                
                {# Biography Field #}
                <div class="form-group">
                    <label>Biography</label>
                    <textarea class="form-control" name="biography">{{ profile.biography }}</textarea>
                </div>

                {# Phone Number Field#}
                <div class="form-group">
                    <label>Phone number</label>
                    <input
                        class="form-control"
                        type="text"
                        name="phone_number"
                        placeholder="Phone number"
                        value="{{ profile.phone_number }}"
                    />
                </div>

                <button type="submit" class="btn btn-primary btn-block mt-5">Update info</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
